.button {
  padding: 0.7rem 0;
  border-radius: 5rem;
  color: #fff;
  text-align: center;
  width: 10rem;
  display: block;
  line-height: 1;
  font-weight: 500;
  transition: 0.4s;
  cursor: pointer;

  &_colorTomato {
    background: var(--colorTomato);
  }

  &_colorBlackGray {
    background: var(--colorBlackGray);
  }

  &_colorBlue {
    background: var(--colorBlue);
  }

  &_colorDodgerBlue {
    background: var(--colorDodgerBlue);
  }

  &_colorSeaGreen {
    background: var(--colorSeaGreen);
  }

  &_colorPurple {
    background: var(--colorPurple);
  }

  &_margin-top-1 {
    margin-top: 2rem;
  }

  &_margin-top-2 {
    margin-top: 1rem;
  }

  &_margin-top-3 {
    margin-top: 4rem;
  }

  &_margin-top-4 {
    margin-top: 8rem;
  }

  &_margin-top-5 {
    margin-top: 6rem;
  }

  &_margin-top-6 {
    margin-top: 3rem;
  }

  &_margin-top-7 {
    margin-top: 7rem;
  }

  &_margin-1 {
    margin: 1.7rem 0 0 6.4rem;
  }

  &_position-1 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &_position-2 {
    position: absolute;
    bottom: -5rem;
    left: 0;
  }

  &_position-3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &_position-4 {
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
  }

  &_position-5 {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }

  &_width-1 {
    width: 11rem;
  }

  &_width-2 {
    width: 14rem;
  }

  &_width-3 {
    width: 8rem;
  }

  &_width-4 {
    width: 13rem;
  }

  &_width-5 {
    width: 44rem !important;
  }

  &_width-6 {
    width: 26rem !important;
  }

  &_width-7 {
    width: 44rem !important;
  }

  &_width-8 {
    width: 29rem !important;
  }

  &_width-9 {
    width: 38.7rem !important;
  }

  &_font-size-1 {
    font-size: 1.1rem;
  }

  &_font-size-2 {
    font-size: 4rem;
  }

  &_bold {
    font-weight: 700;
  }

  &_padding-1 {
    padding: 0.5rem 0;
  }

  &_padding-2 {
    padding: 2rem 0 !important;
  }

  &_padding-3 {
    padding: 3.25rem 0 !important;
  }

  &_cursor {
    cursor: default;
  }

  &:not(.button_cursor):hover {
    opacity: 0.7;
  }

  @media (max-width: 720px) {
    & {
      width: 32rem;
      font-size: 2.5rem;
      padding: 2.8rem 0;
    }
  }
}
