.nav {
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  padding: 2rem 5.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &__link {
    text-transform: uppercase;
    color: var(--colorBlackGray);
    font-weight: 700;
    transition: 0.3s;

    @media (hover: none) {
      &:hover {
        color: var(--colorBlue);
      }
    }

    @media (hover: hover) {
      &:hover {
        color: #ff741e;
      }
    }
  }

  &__link-active {
    color: var(--colorBlue) !important;
  }

  &_mobile {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s;
    background: #d4d5fbb0;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    padding: 10rem;
    overflow-y: auto;

    .nav__menu {
      flex-direction: column;
      align-items: flex-end;

      .nav__link {
        font-size: 3rem;
        line-height: 3;
        color: #08155c;
      }

      .nav__link-active {
        color: #ff741e !important;
      }
    }
  }
}
