.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5.5rem;
  margin: 0 0 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }

  &__link {
    text-transform: uppercase;
    color: var(--colorBlackGray);
    font-weight: 700;
    transition: 0.3s;
    &:hover {
      color: #ff741e;
    }
  }

  &__link-active {
    color: var(--colorBlue);
  }
}
