.title {
  position: relative;
  line-height: 1;
  color: var(--colorBlackGray);

  &_font-size-1 {
    font-size: 1.24rem;
  }

  &_font-size-2 {
    font-size: 3rem;
  }

  &_font-size-3 {
    font-size: 2rem;
  }

  &_font-size-4 {
    font-size: 1.1rem;
  }

  &_font-size-5 {
    font-size: 1.18rem;
  }

  &_font-size-6 {
    font-size: 1.4rem;
  }

  &_font-size-7 {
    font-size: 3.2rem;
  }

  &_font-size-8 {
    font-size: 7rem;
  }

  &_font-size-9 {
    font-size: 7.5rem;
  }

  &_font-size-10 {
    font-size: 5rem;
  }

  &_font-size-11 {
    font-size: 4.3rem;
  }

  &_font-size-12 {
    font-size: 4rem;
  }

  &_margin-top-1 {
    margin-top: 3.5rem;
  }

  &_margin-top-2 {
    margin-top: 1.5rem;
  }

  &_margin-top-3 {
    margin-top: 2.4rem;
  }

  &_margin-top-4 {
    margin-top: 2.2rem;
  }

  &_margin-top-5 {
    margin-top: 1.2rem;
  }

  &_margin-top-6 {
    margin-top: 5rem;
  }

  &_margin-top-7 {
    margin-top: 2rem;
  }

  &_margin-top-8 {
    margin-top: 3rem;
  }

  &_margin-top-9 {
    margin-top: 4rem;
  }

  &_margin-top-10 {
    margin-top: 9rem;
  }

  &_margin-top-11 {
    margin-top: 8rem;
  }

  &_margin-bottom-1 {
    margin-bottom: 1.6rem;
  }

  &_margin-bottom-2 {
    margin-bottom: 4.4rem;
  }

  &_margin-bottom-3 {
    margin-bottom: 3rem;
  }

  &_margin-bottom-4 {
    margin-bottom: 5rem;
  }

  &_margin-left-1 {
    margin-left: 2.6rem;
  }

  &_semi-bold {
    font-weight: 600;
  }

  &_medium {
    font-weight: 500;
  }

  &_normal {
    font-weight: 400;
  }

  &_uppercase {
    text-transform: uppercase;
  }

  &_line-height-1 {
    line-height: 1.2;
  }

  &_colorBlue {
    color: var(--colorBlue);
  }

  &_colorWhite {
    color: #fff;
  }

  &_position-1 {
    position: absolute;
    top: 22rem;
    right: 10rem;
  }
}
