.title {
  color: #000;
  display: flex;
  align-items: flex-start;

  &_color-white {
    color: #fff;
  }

  &_margin-topx1 {
    margin-top: 8.2rem;
  }

  &_margin-topx2 {
    margin-top: 1.4rem;
  }

  &_margin-topx3 {
    margin-top: 1rem;
  }

  &_margin-topx4 {
    margin-top: 2rem;
  }

  &_margin-topx5 {
    margin-top: -1.4rem;
  }

  &_font-sizex1 {
    font-size: 3.2rem;
  }

  &_font-sizex2 {
    font-size: 1.3rem;
  }

  &_font-sizex3 {
    font-size: 2rem;
  }

  &_font-sizex4 {
    font-size: 1.87rem;
  }

  &_font-sizex5 {
    font-size: 1.12rem;
  }

  &_font-sizex6 {
    font-size: 1.5rem;
  }

  &_semi-bold {
    font-weight: 600;
  }

  &_extra-bold {
    font-weight: 800;
  }

  &_colorDimGray {
    color: #26292d;
  }

  &_not-flex {
    display: inline-block;
  }
}