.socials {
  display: flex;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.6s;
    &:hover {
      opacity: 0.7;
    }
  }

  &_column-gap-1 {
    column-gap: 0.7rem;
  }

  &_column-gap-2 {
    column-gap: 1rem;
  }

  &_padding-top-1 {
    padding-top: 0.8rem;
  }
}