.logo-container {
  padding: 3.4rem 5.5rem 2.2rem;
  background: var(--colorWhiteSmoke);
  display: flex;
  align-items: flex-start;

  &__socials {
    flex-grow: 1;
    justify-content: flex-end;
    align-self: flex-end;
  }
}