.label {
  background: var(--colorDarkOrange);
  padding: 0.5rem 0;
  font-size: 0.8rem;
  width: 8.4rem;
  text-align: center;
  text-transform: lowercase;
  line-height: 1rem;
  color: #fff;

  &_margin-topx1 {
    margin-top: -2.2rem;
  }

  &_margin-topx2 {
    margin-top: -1.5rem;
  }
}