.header-content {
  padding: 4rem 5.5rem 3.5rem;
  display: flex;
  justify-content: space-between;

  &__title {
    line-height: 2.2;
  }

  &__items {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }

  &__item {
    width: 22rem;
    padding-left: 2rem;
    border-left: 2px solid #C4C4C4;
  }
}