@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --colorBlue: #262472;
  --colorMediumBlue: #2e368b;
  --colorDarkOrange: #ff9959;
}

html {
  font-size: 1vw;
}

.colorDarkOrange.colorDarkOrange {
  color: var(--colorDarkOrange);
}

.plug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat";
}

.plug__header {
  height: 5rem;
  background: var(--colorBlue);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.plug__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: var(--colorMediumBlue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.6rem 5.6rem 6.5rem;
}

.plug__footer {
  background: var(--colorBlue);
  padding: 4rem 5.5rem 8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.plug__wrapper_margin-topx1 {
  margin-top: 1rem;
}

.plug__wrapper_margin-rightx1 {
  margin-right: 3rem;
}

.plug__title {
  font-size: 3.2rem;
  color: #fff;
}

.plug__title_retreatx1 {
  margin-top: 4rem;
}

.plug__title_min {
  font-size: 1.11rem;
  text-transform: uppercase;
}

.plug__title_mid {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.plug__text {
  font-size: 1.55rem;
  color: #fff;
}

.plug__text_min {
  font-size: 1rem;
}

.plug__text_margin-topx1 {
  margin-top: 1rem;
}

.plug__text_margin-topx2 {
  margin-top: 1.7rem;
}

.plug__text_bold {
  font-weight: 700;
}

.signage__tablet {
  background: var(--colorDarkOrange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.8rem;
  margin-top: -1.2rem;
  padding: 2rem 2rem 1.5rem;
}

.signage__hanger {
  width: 20rem;
  margin: 0 auto;
}

.signage__title-container {
  margin-right: 3rem;
}

.signage__title,
.signage__subtitle {
  font-family: "Bebas Neue";
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  line-height: 1;
}

.signage__title {
  font-size: 6.2rem;
}

.signage__subtitle {
  font-size: 3.2rem;
}

.signage__icon {
  width: 9rem;
}

.plug__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}

.plug__item {
  width: 19rem;
}

@media (max-width: 1080px) {
  .plug__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7rem 9rem 9rem;
  }
  .plug__header {
    height: 10rem;
  }
  .plug__title_retreatx1 {
    margin-top: 10rem;
  }
  .plug__title {
    font-size: 8rem;
  }
  .plug__title_min {
    font-size: 2.8rem;
  }
  .plug__text {
    font-size: 3.8rem;
  }
  .plug__text_margin-topx1 {
    margin-top: 3rem;
  }
  .signage__hanger {
    width: 48rem;
  }
  .signage__tablet {
    margin-top: -4rem;
    padding: 5rem 6rem 3rem;
    border-radius: 2rem;
  }
  .signage__title {
    font-size: 16rem;
  }
  .signage__subtitle {
    font-size: 8.6rem;
  }
  .signage__icon {
    width: 25rem;
  }
  .signage__title-container {
    margin-right: 7rem;
  }
  .plug__wrapper_margin-rightx1 {
    margin-right: 0;
  }
  .plug__text_margin-topx2 {
    margin-top: 5rem;
  }
  .plug__footer {
    padding: 9rem 9rem 30rem;
  }
  .plug__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6rem;
  }
  .plug__title_mid {
    font-size: 3.6rem;
  }
  .plug__item {
    width: 100%;
  }
  .plug__text_min {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=plug.css.map */