.text {
  color: var(--colorBlackGray);
  font-weight: 400;

  &_bold {
    font-weight: 700;
  }

  &_semi-bold {
    font-weight: 600;
  }

  &_medium {
    font-weight: 500;
  }

  &_font-size-1 {
    font-size: 1.5rem;
  }

  &_font-size-2 {
    font-size: 1.3rem;
  }

  &_font-size-3 {
    font-size: 1.08rem;
  }

  &_font-size-4 {
    font-size: 1.1rem;
  }

  &_font-size-5 {
    font-size: 1.14rem;
  }

  &_font-size-6 {
    font-size: 4.8rem;
  }

  &_font-size-7 {
    font-size: 1.2rem;
  }

  &_font-size-8 {
    font-size: 2.2rem;
  }

  &_font-size-9 {
    font-size: 3.4rem;
  }

  &_font-size-10 {
    font-size: 4rem;
  }

  &_font-size-11 {
    font-size: 12rem;
  }

  &_line-height-1 {
    line-height: 1.3;
  }

  &_line-height-2 {
    line-height: 1.6;
  }

  &_line-height-3 {
    line-height: 1;
  }

  &_line-height-4 {
    line-height: 1.26;
  }

  &_margin-top-1 {
    margin-top: 1rem;
  }

  &_margin-top-2 {
    margin-top: 2.5rem;
  }

  &_margin-top-3 {
    margin-top: 2rem;
  }

  &_margin-top-4 {
    margin-top: 3rem;
  }

  &_margin-top-5 {
    margin-top: 7rem;
  }

  &_margin-top-6 {
    margin-top: 4rem;
  }

  &_margin-top-7 {
    margin-top: 11rem;
  }

  &_margin-top-8 {
    margin-top: 6rem;
  }

  &_margin-top-9 {
    margin-top: 4.5rem;
  }

  &_margin-left-1 {
    margin-left: 1rem;
  }

  &_margin-left-2 {
    margin-left: 3rem;
  }

  &_margin-left-3 {
    margin-left: 2rem;
  }

  &_margin-left-4 {
    margin-left: 12rem;
  }

  &_margin-1 {
    margin: 2rem 0 0 6.4rem;
  }

  &_margin-2 {
    margin: 2.7rem 0 0 6.5rem;
  }

  &_margin-3 {
    margin: 7rem 0;
  }

  &_margin-4 {
    margin: 1rem 0 1rem 17rem;
  }

  &_background-1 {
    background: #262472;
    padding: 4rem 5rem;
    border-radius: 3rem 0 0 3rem;
  }

  &_colorBlue {
    color: var(--colorBlue);
  }

  &_colorTomato {
    color: var(--colorTomato);
  }

  &_colorWhite {
    color: #fff;
  }

  &_colorRed {
    color: #f00;
  }

  &_width-1 {
    width: 27rem;
  }

  &_text-align-1 {
    text-align: center;
  }
}
