.container-button {
  display: flex;
  justify-content: space-between;

  &_margin-topx1 {
    margin-top: 3rem;
  }

  &_margin-topx2 {
    margin-top: 1.7rem;
  }

  &_not-flex {
    justify-content: flex-start;
    gap: 2rem
  }
}