.description-column {
  padding-left: 1.7rem;
  border-left: 0.2rem solid #c4c4c4;
  width: 21rem;

  &__circle {
    position: absolute;
    top: -0.5rem;
  }

  &_margin-1 {
    margin-left: 13.3rem;
  }

  &_margin-2 {
    margin-left: 2.5rem;
  }
}
