.annotation {
  padding: 5.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 1.2rem;
    padding-top: 2rem;
  }

  &__item {
    display: flex;
    width: 24rem;
  }

  &__border {
    position: absolute;
    border-bottom: 1px solid #000;
    top: 0;
    left: 38%;
    width: 39%;
  }
}
