.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  &__item {
    position: relative;
  }

  &__img {
    border-radius: 1rem;
    height: 16.3rem;
  }

  &__item-input {
    border-radius: 0.5rem;
    height: 3.5rem;
    border: 1px solid #000;
    padding: 0 1rem;
    font-size: 1.3rem;
  }

  &_gapx1 {
    gap: 2.7rem;
  }

  &_gapx2 {
    gap: 1.6rem;
  }

  &_margin-topx1 {
    margin-top: 2.4rem;
  }

  &_not-border-radius {
    border-radius: 0;
  }
}
